

# Ignore temporary and cache data
.tmp
.sass-cache
.cache*
node_modules


# Exclude Dist folder
dist


# Exclude bower_components
app/bower_components

# Exclude handlebars-compiled template
app/js/handlebars-templates.js