

# Ignore temporary and cache data
.tmp
.sass-cache
.cache*
.idea
node_modules


# Exclude Dist folder
dist


# Exclude bower_components
app/bower_components

# Ignore composer stuff
app/backend/lib/



# Ignore built php files
app/backend/*.*

# Exclude handlebars-compiled template
app/js/handlebars-templates.js