@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/fonts');
  src:url('../fonts/icomoon/fonts/icomoon.eot') format('embedded-opentype'),
  url('../fonts/icomoon/fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon/fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?vvtk2r');
  src:url('fonts/icomoon.eot?#iefixvvtk2r') format('embedded-opentype'),
  url('fonts/icomoon.woff?vvtk2r') format('woff'),
  url('fonts/icomoon.ttf?vvtk2r') format('truetype'),
  url('fonts/icomoon.svg?vvtk2r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}

.icon-camera:before {
  content: "\e90f";
}

.icon-play:before {
  content: "\e912";
}

.icon-file-empty:before {
  content: "\e924";
}

.icon-folder:before {
  content: "\e92f";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-price-tag:before {
  content: "\e935";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-phone:before {
  content: "\e942";
}

.icon-calendar:before {
  content: "\e953";
}

.icon-bubble:before {
  content: "\e96b";
}

.icon-bubbles2:before {
  content: "\e96d";
}

.icon-spinner8:before {
  content: "\e981";
}

.icon-search:before {
  content: "\e986";
}

.icon-equalizer:before {
  content: "\e992";
}

.icon-equalizer2:before {
  content: "\e993";
}

.icon-cog:before {
  content: "\e994";
}

.icon-cogs:before {
  content: "\e995";
}

.icon-lab:before {
  content: "\e9aa";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-menu2:before {
  content: "\e9be";
}

.icon-menu3:before {
  content: "\e9bf";
}

.icon-menu4:before {
  content: "\e9c0";
}

.icon-link:before {
  content: "\e9cb";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-checkmark2:before {
  content: "\ea11";
}

.icon-play2:before {
  content: "\ea15";
}

.icon-pause:before {
  content: "\ea16";
}

.icon-stop:before {
  content: "\ea17";
}

.icon-previous:before {
  content: "\ea18";
}

.icon-next:before {
  content: "\ea19";
}

.icon-backward:before {
  content: "\ea1a";
}

.icon-forward2:before {
  content: "\ea1b";
}

.icon-pause2:before {
  content: "\ea1d";
}

.icon-stop2:before {
  content: "\ea1e";
}

.icon-backward2:before {
  content: "\ea1f";
}

.icon-forward3:before {
  content: "\ea20";
}

.icon-first:before {
  content: "\ea21";
}

.icon-last:before {
  content: "\ea22";
}

.icon-previous2:before {
  content: "\ea23";
}

.icon-next2:before {
  content: "\ea24";
}

.icon-eject:before {
  content: "\ea25";
}

.icon-volume-high:before {
  content: "\ea26";
}

.icon-volume-mute2:before {
  content: "\ea2a";
}

.icon-checkbox-checked:before {
  content: "\ea52";
}

.icon-checkbox-unchecked:before {
  content: "\ea53";
}

.icon-radio-checked:before {
  content: "\ea54";
}

.icon-radio-checked2:before {
  content: "\ea55";
}

.icon-radio-unchecked:before {
  content: "\ea56";
}

.icon-google-plus:before {
  content: "\ea88";
}

.icon-facebook:before {
  content: "\ea8c";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-youtube3:before {
  content: "\ea99";
}

.icon-vimeo:before {
  content: "\ea9c";
}

.icon-flickr2:before {
  content: "\eaa1";
}

.icon-dropbox:before {
  content: "\eaaf";
}

.icon-skype:before {
  content: "\eac6";
}

.icon-file-pdf:before {
  content: "\eada";
}

