body {
  background-image: url("../img/bg/bg_stars.jpg");
  margin-top: $topbar-height;
 > section {
    margin-bottom: rem-calc(50);
    padding: rem-calc(20) 0;
    background: #fff;
  }
}

html {
  background-color: #000;
}

.js body {
  opacity: 0;
  transition: opacity 1s;
}

@media #{$medium-up} {
  body {
    > section {
      margin-bottom: rem-calc(150);
      padding: rem-calc(30) 0;
    }
  }
}

@media #{$large-up} {
  body {
    > section {
      margin-bottom: rem-calc(300);
      padding: rem-calc(40) 0;
    }
  }
}


@keyframes STAR-MOVE {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@media #{$medium-up} {
  #background {
    background: black url(../img/bg/stars/background.png) repeat 5% 5%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 100;

    animation-name: STAR-MOVE;
    animation-duration: 800s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #midground {
    background: url(../img/bg/stars/midground.png) repeat 20% 20%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 200;

    animation-name: STAR-MOVE;
    animation-duration: 500s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #foreground {
    background: url(../img/bg/stars/foreground.png) repeat 35% 35%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 300;

    animation-name: STAR-MOVE;
    animation-duration: 300s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.background-wrap {
  position: fixed;
  z-index:-1;
  width: 100%;
  height: 100%;
}

.main-logo {
  img {
    display: block;
    margin: 0 auto rem-calc(80) auto;
  }
}

@media #{$small-only} {
  .main-logo {
    img {
      margin-bottom: rem-calc(20);
    }
  }
}

section.start{
  background: none;
  background-size: cover;
  padding-top:65px;
  margin-bottom:0;
  position: relative;
  z-index: 2;

}

.intro-video-wrapper {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top:0;
}
.intro-video {
  position: absolute;
  left: 0;
  top: 0;
}

@media #{$medium-up} {
  section.start{
    padding-top:120px;
  }
}

