@media #{$medium-up} {
  @each $column in 2,3,4 {
    .column-#{$column} {
      column-count: #{$column};
      column-gap: rem-calc(30);
      text-align: justify;
    }
  }
}

a {
  transition: background-color 0.2s;
}

p {
  @while $color-variation-length > 0 {
    a:nth-of-type(#{$color-variation-length}){
      &:hover {
        background-color: nth($color-variation,$color-variation-length);
      }
      &:active {
        background-color: nth($color-variation,$color-variation-length);
      }
    }
    $color-variation-length: $color-variation-length - 1;
  }
}


p{
  background-color: #fff;
  display: inline-block;
  padding-right: 5px;
  max-width: rem-calc(640);
}


