---
pagetitle: Icomoon Demo page
---
<section>
    <div class="row">
        <div class="medium-6 medium-center columns">
            <a href="fonts/icomoon/demo.html">Demo Page</a>
        </div>
    </div>
</section>

