---
pagetitle: Startseite
---
<div class="background-wrap">
    <div id="background"></div>
    <div id="midground"></div>
    <div id="foreground"></div>
</div>
<!-- content start -->

<!-- main Menu -->
{{> mainMenu}}
<!-- main Menu end -->
<section id="start" class="start" style="background-image:url({{imageurl "bg/bg_desktop.jpg" "1200"}});">
    <div class="intro-video-wrapper">
        <iframe class="intro-video" src="https://player.vimeo.com/video/91148509?api=1&title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1" width="100%" height="0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
	<div class="row main-logo">
		<div class="small-12 columns" >
            {{{image "tolles Bild" "wisp-logo.png" "small-12,medium-12,large-12"}}}
		</div>
	</div>

    <!--Google Plus News-->
    <div class="gplus"></div>
    <!--Google Plus end-->
</section>

<!--events-->
<section id="events" class="wow fadeInDown">
	<div class="row">
		<div class="small-12 columns" >
            <h3>Events</h3>
        </div>
    </div>
    <div class="fb">
        <div class="row">
            <div class="small-12 columns">
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#fb-upcoming">Upcoming</a></dd>
                    <dd><a href="#fb-past" id="trigger-fb-past">Past</a></dd>
                </dl>
            </div>
        </div>

       <div class="tabs-content">
               <div class="content active row" id="fb-upcoming">

               </div>
               <div class="content row" id="fb-past">

               </div>
       </div>
    </div>
</section>
<!--events end-->

<!--about-->
<section id="about" class="wow fadeInDown">
    <div class="row">
        <div class="small-12 columns" >
				{{> aboutUs}}
        </div>
    </div>
</section>
<!--about end-->

<!--Member Section-->
<section id="members" class="wow fadeInUp" style="position: relative;z-index:3;">
    <div class="section-image">{{{image "Wisp Tree" "member-section-teaser.jpg" "small-3,medium-1,large-3"}}}</div>
	{{> members}}
</section>
<!--Member Section end-->

<!--wispcast-->
<section id="wispcast" class="wow fadeInUp">
	{{> wispcast}}
</section>
<!--wispcast end-->

<section id="contact">
	<div class="row">
		<div class="small-12 medium-8 columns">
            <h2>Contact</h2>
            <form class="contact-form" data-abide="ajax" action="{{contact.mailformAdress}}" method="post">
               <input type="hidden" name="id" value=main_contact"/>
                <div class="name-field">
                    <label>Your name <small>required</small>
                        <input type="text" name="name" required pattern="[a-zA-Z]+">
                    </label>
                    <small class="error">Please tell us your Name :-)</small>
                </div>
                <div class="email-field">
                    <label>Email <small>required</small>
                        <input type="email" name="email" required>
                    </label>
                    <small class="error">An email address is required.</small>
                </div>
                <div class="message-field">
                    <label>Textarea Label
                        <textarea rows="10" name="message" placeholder="Your message to us"></textarea>
                    </label>
                </div>
                <button type="submit">Submit</button>
            </form>
		</div>
	</div>
</section>


<!--Footer-->
<footer>

</footer>
<!--Footer end-->