---
pagetitle: Startseite
---
<div class="background-wrap">
    <div id="background"></div>
    <div id="midground"></div>
    <div id="foreground"></div>
</div>
<!-- content goes here -->
{{> mainMenu}}
<section class="wow fadeInDown" style="background:none;">

	<div class="row">
		<div class="small-12 columns" >
			<img src="img/wisp-logo.png">
		</div>
	</div>

    <!--Google Plus News-->
    <div class="gplus"></div>
    <!--Google Plus end-->
</section>


<!--Member Section-->
{{> members}}
<!--Member Section end-->

<!--wispcast-->
<section class="wow fadeInUp" id="wispcast">
	<div class="row">
		<div class="large-10 large-centered columns">
			<h2>Wispcast</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div class="wow fadeInUp" data-wow-delay=".5s">
				<div id="wispcast-player" class="wispcast-player"></div>
			</div>
			<div class="wispcast-widget"></div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div class="wispcast-grid">

			</div>
		</div>
	</div>
</section>




<!--Footer-->
<footer>

</footer>
<!--Footer end-->