<div class="fb-past">
    <ul class="accordion custom-accordion" data-accordion>
        {{#each this}}
            <li class="accordion-navigation">
                <a href="#acc-{{this.id}}" data-event-index="{{@index}}" data-event-type="past">{{this.name}}</a>
                <div id="acc-{{this.id}}" class="content">
                </div>
            </li>
        {{/each}}
    </ul>
</div>