{{#compare this '' operator='=='}}
	<p>currently there are no upcoming events.</p>
{{/compare}}
<div class="fb-upcoming">
	<ul class="accordion custom-accordion" data-accordion>
	{{#each this}}
			<li class="accordion-navigation">
				<a href="#acc-{{this.id}}" data-event-index="{{@index}}" data-event-type="upcoming">{{this.name}}</a>
				<div id="acc-{{this.id}}" class="content">
				</div>
			</li>
	{{/each}}
	</ul>
</div>
